---
- name: Configure - Build config
  ansible.builtin.template:
    src: config.yml.j2
    dest: /etc/nebula/config.yml
    owner: nebula
    group: nebula
    mode: '0640'
  notify:
    - Restart nebula service

- name: Configure - Set systemd service configuration
  ansible.builtin.systemd:
    name: nebula
    state: started
    enabled: true
    daemon_reload: true

- name: Configure - Manage hosts file
  ansible.builtin.template:
    src: hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: '0644'
  when: nebula_manage_hosts
